h1 {
  color: azure;
  background-color: black;
  width: 269px;
  height: 48px;
  margin-left: 446px;
  margin-top: 83px;
}
form {
  width: 384px;
  height: 360px;
  margin-top: 46px;
  margin-left: 378px;
  border: 10px solid red;
  border-radius: 22px;
  font-size: 30px;
}
input {
  width: 349px;
  height: 52px;
  color: black;
  background-color: aliceblue;
  margin-top: 8px;
  border: 28px;
  border-radius: 17px;
  margin-left: 30px;
}
button {
  color: black;
  background-color: blue;
  width: 98px;
  height: 28px;
  margin-left: 126px;
  margin-top: 20px;
  
}
